<div class='add-stock-form-component'>
    <p class="title">Add New Stock</p>
    <form class='new-list-form' #f='ngForm' (ngSubmit)="addStockToList(f)">
        <mat-form-field appearance='outline' style="width:250px">
            <mat-label>Stock Symbol</mat-label>
            <input matInput ngModel name='stockSymbol'>
        </mat-form-field>
        <div style="display: flex; justify-content: space-between;">
            <div></div>
            <div>
                <button mat-button type="button" (click)="close()">Close</button>
                <button mat-raised-button type='submit' class='button'>Add Stock to List</button>
            </div>
        </div>
    </form>
</div>
