.homepage {
    background: linear-gradient(to left bottom, rgb(35, 158, 167), rgb(0, 153, 255));
    height: 350px;
    position: fixed;
    width: 100%;
}

.homepage-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 100px;
    position: relative;
}

.homepage-login-form-component {
    flex: 20%;
}

.homepage-title {
    flex: 20%;
    color: white;
    font-size: 75px;
    margin-left: 80px;
}