<div>
    <div class='homepage'>
    </div>
    <div style="position: relative">
        <app-menu></app-menu>
        <div class='homepage-content'>
            <div class='homepage-title'>
                <p style="margin-bottom: 0px; margin-top: 75px">StockPlan</p>
                <div style="font-size: 40px; margin-top: 0px; display: flex; margin-top: 20px">
                    <p style="color: rgb(50, 185, 238); margin-top: 0px">Plan.</p>
                    <p style="color: rgb(73, 87, 209); margin-left: 10px; margin-top: 0px">Automate.</p>
                    <p style="color: rgb(57, 199, 104); margin-left: 10px; margin-top: 0px">Invest.</p>
                </div>
            </div>
            <div class='homepage-login-form-component'>
                <app-login></app-login>
            </div>
        </div>
    </div>
</div>
