<div>
    <div class='homepage'>
    </div>
    <div style="position: relative">
        <app-menu></app-menu>
        <div class='homepage-content'>
            <div class='homepage-title'>
                <div style="display: flex; flex-direction: row;">
                    <div style="margin-bottom: 0px; padding-top: 35px;">
                        <img src="assets/application-icon.png" width="100" height="100">
                    </div>
                    <p style="margin-bottom: 0px; margin-top: 35px; margin-left: 20px">StockPlan</p>
                </div>
                <div style="font-size: 40px; margin-top: 0px; display: flex; margin-top: 20px">
                    <p style="color: rgb(50, 185, 238); margin-top: 0px">Plan.</p>
                    <p style="color: rgb(83, 97, 223); margin-left: 10px; margin-top: 0px">Automate.</p>
                    <p style="color: rgb(34, 179, 82); margin-left: 10px; margin-top: 0px">Invest.</p>
                </div>
            </div>
            <div class='homepage-login-form-component'>
                <app-login></app-login>
            </div>
        </div>
    </div>
    <div style="width: 100%; display: flex; justify-content: space-evenly; margin-top: 140px;">
        <div class="homepage-box-1">
            <div style="display: flex; justify-content: center;">
                <div class="homepage-box-icon">
                    <mat-icon style="font-size: 40px;">edit</mat-icon>
                </div>
            </div>
            <p class="homepage-box-title-text">Plan</p>
            <p class="homepage-box-text">Organize stocks into multiple lists. View important information for stocks. Add portfolio and view portfolio statistics</p>
        </div>
        <div class="homepage-box-2">
            <div style="display: flex; justify-content: center;">
                <div class="homepage-box-icon">
                    <mat-icon style="font-size: 40px;">settings</mat-icon>
                </div>
            </div>
            <p class="homepage-box-title-text">Automate</p>
            <p class="homepage-box-text">Create goals for stocks. Goals could include what price to buy or sell a stock. Set goals for stocks in the portfolio. Be notified when goals are acheived. No need to monitor stocks every day</p>
        </div>
        <div class="homepage-box-3">
            <div style="display: flex; justify-content: center;">
                <div class="homepage-box-icon">
                    <mat-icon style="font-size: 40px;">trending_up</mat-icon>
                </div>
            </div>
            <p class="homepage-box-title-text">Invest</p>
            <p class="homepage-box-text">Use completed goals to make decisions for the portfolio. Update portfolio and set goals for new stocks on portfolio</p>
        </div>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 120px; margin-bottom: 100px; padding-left: 40px; padding-right: 40px;">
        <div style="box-shadow: 0px 5px 10px 5px lightgray;">
            <img src="assets/example-1.png" height="100" width="200">
        </div>
        <div style="width: 350px; margin-left: 50px">
            <p style="font-size: 30px; margin-top: 25px">Manage portfolio and view goals for stocks in the portfolio</p>
            <p style="font-size: 20px">View important statistics about portfolio and manage the portfolio. See the current information about the stocks in the portfolio including current stock prices. View the goals for stocks in the portfolio and the status of those goals</p>
        </div>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 120px; margin-bottom: 100px; padding-left: 40px; padding-right: 40px;">
        <div style="width: 350px; margin-right: 50px">
            <p style="font-size: 30px; margin-top: 80px">Organize stocks into lists</p>
            <p style="font-size: 20px">Create new lists of stocks and organize stocks. View important information about each stock in the list</p>
        </div>
        <div style="box-shadow: 0px 5px 10px 5px lightgray;">
            <img src="assets/example-2.png" height="100" width="200">
        </div>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 120px; margin-bottom: 100px; padding-left: 40px; padding-right: 40px;">
        <div style="box-shadow: 0px 5px 10px 5px lightgray;">
            <img src="assets/example-3.png" height="100" width="200">
        </div>
        <div style="width: 350px; margin-left: 50px">
            <p style="font-size: 30px; margin-top: 50px">Create goals for stocks</p>
            <p style="font-size: 20px">Create goals for stocks based on stock price. Decide the stock price to buy or sell a stock and view the status of those goals. By setting goals, no need to monitor stocks every day</p>
        </div>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 120px; margin-bottom: 100px; padding-left: 40px; padding-right: 40px;">
        <div style="width: 450px; margin-right: 50px">
            <p style="font-size: 30px; margin-top: 100px">Receive notifications when goals for stocks are completed</p>
        </div>
        <div style="box-shadow: 0px 5px 10px 5px lightgray;">
            <img src="assets/example-4.png" height="100" width="200">
        </div>
    </div>
</div>
