.homepage {
    background: linear-gradient(to left bottom, rgb(35, 158, 167), rgb(0, 153, 255));
    height: 350px;
    position: absolute;
    width: 100%;
}

.homepage-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 120px;
    position: relative;
}

.homepage-login-form-component {
    flex: 20%;
}

.homepage-title {
    flex: 20%;
    color: white;
    font-size: 75px;
    margin-left: 80px;
}

.homepage-box-1 {
    height: 370px; 
    width: 250px; 
    background: linear-gradient(to left bottom, rgb(50, 131, 238), rgb(0, 162, 255));
    box-shadow: 0px 5px 10px 5px lightgray;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    color: white;
}

.homepage-box-2 {
    height: 370px; 
    width: 250px; 
    background: linear-gradient(to left bottom, rgb(134, 101, 224), rgb(89, 28, 231));
    box-shadow: 0px 5px 10px 5px lightgray;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    color: white;
}

.homepage-box-3 {
    height: 370px; 
    width: 250px; 
    background: linear-gradient(to left bottom, rgb(23, 211, 95), rgb(14, 160, 27));
    box-shadow: 0px 5px 10px 5px lightgray;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    color: white;
}

.homepage-box-title-text {
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.homepage-box-icon {
    background-color: white; 
    color: black; 
    width: 60px;
    height: 60px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 50px;
    margin-top: -50px
}

.homepage-box-text {
    margin-top: 0px;
    font-size: 20px;
}