.homepage {
    background-color: #1e70eb;
    height: 100vh;
}

.homepage-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 100px;
}

.homepage-login-form-component {
    flex: 20%;
}

.homepage-title {
    flex: 20%;
    color: white;
    font-size: 75px;
    margin-left: 80px;
}