<div class="stock-component">
    <div style="display: flex; justify-content: space-between;">
        <div>
            <p style="margin: 0px; font-size: 25px;">{{stock.symbol}}</p>
            <p style="margin: 0px; font-size: 15px; color: gray">{{stock.name}}</p>
        </div>
        <div style="text-align: right;">
            <p style="margin: 0px; font-size: 25px">${{stock.current}}</p>
            <div style="display: flex; justify-content: flex-end;" [ngStyle]="{'color': priceColor}">
                <mat-icon style="font-size: 22px">arrow_upward</mat-icon>
                <p style="margin: 0px">${{stock.amountChange}} </p>
                <p style="margin: 0px; padding-right: 2px; padding-left: 2px;">|</p>
                <p style="margin: 0px">{{stock.percentChange}}%</p>
            </div>
        </div>
    </div>
</div> 