<div>
    <div style="border-bottom: 1px solid lightgray">
        <div class="navigation-title">
            <div style="display: flex">
                <mat-icon style="font-size: 28px; margin-top: 16px; margin-right: 10px; padding-right: 0px;">list</mat-icon>
                <p style="margin-left: 0px;">Stocks</p>
            </div>
            <button mat-icon-button class="navigation-add-button" (click)="addNewList()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div *ngFor="let list of stockLists">
        <div>
            <a mat-button class="navigation-lists-button" [routerLink]="['/dashboard/list/'+list.listNumber]">
                <div style="display: flex; justify-content: space-between;">
                    <p style="margin: 0px">{{list.name}}</p>
                    <p style="margin: 0px; color: gray">{{list.stocks.length}}</p>
                </div>
            </a>
        </div>
    </div>
</div>
