<div class="stock-detail">
    <div style="display: flex; justify-content: space-between; padding-top: 25px; flex-wrap: wrap;">
        <p style="font-size: 35px; margin: 0px">Testing</p>
        <div style="display: flex; flex-wrap: wrap;">
            <button mat-raised-button class="button-add">Add new stock</button>
            <p style="font-size: 35px; color: gray; margin: 0px; padding-right: 10px; padding-left: 20px">stocks</p>
        </div>
    </div>
    <hr>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; margin-top: 20px">
    </div>
</div>
