<div class="goals-detail">
    <div style="display: flex; justify-content: space-between; padding-top: 25px; flex-wrap: wrap;">
        <p style="font-size: 35px; margin: 0px; margin-bottom: 5px;">{{listName}}</p>
        <div style="display: flex; flex-wrap: wrap">
            <div style="padding-top: 2px; margin-right: 10px; padding-top: 2px; display: flex; flex-wrap: wrap">
                <button mat-mini-fab (click)="addNewGoal()" color="primary" style="margin-right: 10px;">
                    <mat-icon>add</mat-icon>
                </button>
                <button mat-mini-fab [ngStyle]="{'background-color': editMode? 'white': 'darkorange'}" (click)="edit()">
                    <mat-icon [ngStyle]="{'color': editMode? 'darkorange': 'white'}">settings</mat-icon>
                </button>
            </div>
            <p style="font-size: 35px; color: gray; margin: 0px; padding-right: 10px; padding-left: 20px; margin-bottom: 5px;">{{listLength}} goals</p>
        </div>
    </div>
    <hr style="margin-top: 0px;">
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; margin-top: 20px">
        <div *ngFor="let goalDetail of goalsList" style="margin-right: 25px">
            <app-goal [goal]="goalDetail" [edit]="editMode" (update)="this.updateAfterEdit($event)"></app-goal>
        </div>
    </div>
</div>
