.menu-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    background-color: #1468e7;
    color: white;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 5px 5px #0f50b1;
}