<mat-toolbar [ngClass]="{'menu-toolbar': homepage, 'menu-toolbar-2': !homepage}">
    <p *ngIf="homepage">StockPlan</p>
    <p *ngIf="!homepage">StockPlan <span style="color: lightgray">| Plan your investments</span></p>
    <div *ngIf="!loggedIn && homepage">
        <button mat-raised-button (click)="open()">Sign up</button>
    </div>
    <div *ngIf="loggedIn && homepage">
        <button mat-raised-button style="background-color: rgb(82, 81, 81); color: white;" (click)="login()">Logged in as {{userFirstName}}</button>
    </div>
    <div *ngIf="loggedIn && !homepage" style="display: flex;">
        <div style="margin-top: 10px; margin-right: 15px;">
            <mat-icon style="font-size: 35px;">account_circle</mat-icon>
        </div>
        <button mat-button [matMenuTriggerFor]="menu" style="font-size: 18px; padding-left: 5px;">
            <div style="display: flex">
                {{userFirstName}}
                <mat-icon style="margin-top: 4px; font-size: 30px;">keyboard_arrow_down</mat-icon>
            </div>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item style="font-size: 15px;">Log out</button>
        </mat-menu>
    </div>
</mat-toolbar>