.add-goal-form-component{
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.title{
    font-size: 24px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
}

.button{
    background-color: rgb(212, 153, 24);
    color: white;
    margin: auto;
}

.new-goal-form{
    display: flex;
    flex-direction: column;
}
