.portfolio-menu {
    margin-top: 20px;
}

.portfolio-menu-content {
    display: flex; 
    justify-content: space-between; 
}

.detail {
    width: 40%;
    height: 200px;
    border: 1px solid black;
}
.summary {
    width: 60%;
    height: 200px;
}