<div style="width: 95%; margin: auto;">
    <div class='portfolio-menu'>
        <div class='portfolio-menu-content'>
            <p style="margin: 0px; font-size: 30px">Portfolio</p>
        </div>
    </div>
    <div style="display: flex; justify-content: space-evenly;">
        <div class="summary">
            <div style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
                <div>
                    <button mat-raised-button (click)="add()" class='add-button'>Add</button>
                </div>
            </div>
            <div *ngIf="!progress">
                <app-summary [data]="portfolio"></app-summary>
            </div>
        </div>
        <div class="detail"></div>
    </div>
</div>
