<div>
    <div style="border-bottom: 1px solid lightgray">
        <div class="navigation-goals-title">
            <div style="display: flex;">
                <mat-icon style="font-size: 28px; margin-top: 16px; margin-right: 10px; padding-right: 0px;">done_all</mat-icon>
                <p>Goals</p>
            </div>
            <button mat-icon-button class="navigation-goals-add-button" (click)="addNewList()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div>
        <div *ngFor="let list of goalLists">
            <a mat-button [ngClass]="current == list.name? 'navigation-goals-button-selected': 'navigation-goals-button'"  (click)="goToList(list.listNumber, list.name)">
                <div style="display: flex; justify-content: space-between;">
                    <p style="margin: 0px">{{list.name}}</p>
                    <p style="margin: 0px; opacity: 0.7;">{{list.length}}</p>
                </div>
            </a>
        </div>
    </div>
</div>