<div>
    <div style="border-bottom: 1px solid lightgray">
        <div class="navigation-goals-title">
            <p>Goals</p>
            <button mat-icon-button class="navigation-goals-add-button" (click)="addNewList()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div *ngFor="let list of stockLists">
        <div>
            <a mat-button class="navigation-goals-button" [routerLink]="['/dashboard/goals/']"></a>
        </div>
    </div>
</div>