.navigation-goals-add-button {
    background-color: rgb(212, 153, 24);
    color: white;
    box-shadow: 0px 0px 10px 2px lightgray;
    margin-top: 8px;
}

.navigation-goals-title {
    padding-left: 15px;
    padding-right: 15px;
    display: flex; 
    justify-content: space-between; 
    font-size: 18px;
}

.navigation-goals-button {
    background-color: white;
    height: 40px;
    width: 100%;
    text-align: left;
    font-size: 16px;
}