.add-list-form-component{
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
}

.title{
    font-size: 24px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.button{
    background-color: #1468e7;
    color: white;
    width: 100px;
    margin: auto;
}

.new-list-form{
    display: flex;
    flex-direction: column;
}
