<div class="navigation">
    <div style="margin-top: 20px; height: 90%">
        <div style="margin-top: 0px; display: flex; padding-left: 0px;">
            <mat-icon style="font-size: 25px; margin-top: 5px; margin-right: 0px; margin-left: 16px;">work_outline</mat-icon>
            <a mat-button class="navigation-portfolio-button" [routerLink]="['/dashboard/portfolio']">Portfolio</a>
        </div>
        <app-stock-lists></app-stock-lists>
        <app-goal-lists></app-goal-lists>
    </div>
    <div style="font-size: 15px;">
        <p style="margin: 0px; text-align: center; color: gray">Version 1.0</p>
    </div>
</div>
