<div class='login-form-component'>
    <p class='title1'>Sign in</p>
    <p style="color: red" *ngIf="error">Password is invalid</p>
    <form class='login-form' #f='ngForm' (ngSubmit)='onLogin(f)'>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput ngModel name='email'>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput ngModel type="password" name="password">
            <mat-error>Invalid password</mat-error>
        </mat-form-field>
        <div style="display: flex; justify-content: center; width: 100%" *ngIf="progress">
            <mat-progress-spinner mode="indeterminate" [diameter]="40"></mat-progress-spinner>
        </div>
        <button mat-raised-button type='submit' class='button1' *ngIf="!progress">Sign in</button>
    </form>
</div>
