<div class="login-form-component">
    <p class='title1'>Sign in</p>
    <form class="login-form" #f="ngForm" (ngSubmit)="onLogin(f)">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput ngModel name="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput ngModel type="password" name="password">
        </mat-form-field>
        <button mat-raised-button type="submit" class="button1">Sign in</button>
    </form>
</div>
