<div>
    <table mat-table [dataSource]="data" class="summary-table">
        <ng-container matColumnDef="Symbol">
            <th mat-header-cell *matHeaderCellDef>Symbol</th>
            <td mat-cell *matCellDef="let element">{{element.stock}}</td>
        </ng-container>
        <ng-container matColumnDef="Shares">
            <th mat-header-cell *matHeaderCellDef>Shares</th>
            <td mat-cell *matCellDef="let element">{{element.shares}}</td>
        </ng-container>
        <ng-container matColumnDef="Book Value">
            <th mat-header-cell *matHeaderCellDef>Book</th>
            <td mat-cell *matCellDef="let element">{{element.bookValue}}</td>
        </ng-container>
        <ng-container matColumnDef="Market Value">
            <th mat-header-cell *matHeaderCellDef>Market</th>
            <td mat-cell *matCellDef="let element">{{element.marketValue}}</td>
        </ng-container>
        <ng-container matColumnDef="Change Amount">
            <th mat-header-cell *matHeaderCellDef>Net Amount</th>
            <td mat-cell *matCellDef="let element">{{element.changeAmount}}</td>
        </ng-container>
        <ng-container matColumnDef="Change">
            <th mat-header-cell *matHeaderCellDef>Change</th>
            <td mat-cell *matCellDef="let element">{{element.change}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
    </table>
</div>
