.signup-form{
    display: flex;
    flex-direction: column;
}

.title2{
    font-size: 25px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.signup-form-component{
    width: 400px;
    height: 470px;
    padding-right: 40px;
    padding-left: 40px;
}

.button2{
    background-color: #1468e7;
    color: white;
}