<div class="stock-detail">
    <div style="display: flex; justify-content: space-between; padding-top: 25px; flex-wrap: wrap;">
        <p style="font-size: 35px; margin: 0px; margin-bottom: 5px;">{{listName}}</p>
        <div style="display: flex; flex-wrap: wrap;">
            <div style="padding-top: 2px;">
                <button mat-mini-fab (click)="add()" color="primary" style="margin-right: 0px;">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div style="display: flex; flex-wrap: wrap; margin-bottom: 5px;">
                <p style="font-size: 35px; color: gray; margin: 0px; padding-right: 10px; padding-left: 10px">{{listLength}} stocks</p>
                <p style="padding-right: 5px; font-size: 30px; margin: 0px; color: gray">|</p>
                <mat-icon style="font-size: 45px;" [ngStyle]="{'color': priceColor}" *ngIf="priceIncrease">arrow_upward</mat-icon>
                <mat-icon style="font-size: 45px;" [ngStyle]="{'color': priceColor}" *ngIf="!priceIncrease">arrow_downward</mat-icon>
                <div style="width: 20px;"></div>
                <p [ngStyle]="{'color': priceColor}" style="font-size: 35px; margin: 0px">{{totalChangeAmount}}%</p>
            </div>
        </div>
    </div>
    <hr style="margin-top: 0px;">
    <div style="display: flex; justify-content: center; margin-top: 100px; width: 100%" *ngIf="progress">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; margin-top: 20px">
        <div *ngFor="let stock of stocks" style="margin-right: 30px">
            <app-stock [stock]="stock"></app-stock>
        </div>
    </div>
</div>
