.edit-goals-form-component{
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
    width: 300px;
}

.title{
    font-size: 24px;
    margin-top: 0px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.button{
    color: white;
    background-color: #3980eb;
    width: 100px;
    margin: auto;
}