@use '~@angular/material' as mat;

@include mat.core();

$primary-color: mat.define-palette(mat.$blue-palette);
$accent-color: mat.define-palette(mat.$green-palette);
$warn-color: mat.define-palette(mat.$orange-palette);

$main-app-theme: mat.define-light-theme(
    $primary-color,
    $accent-color,
    $warn-color,
);

@include mat.all-component-themes($main-app-theme);